.container {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.formControl {
  margin-bottom: 1rem;
}

.formControl label {
  margin-bottom: 0.5rem;
}

.formControl input {
  height: 2rem;
  padding: 0.25rem;
}

.formControl input,
.formControl label {
  width: 100%;
  display: block;
}

.formAction {
  margin-top: 1.5rem;
  display: flex;
  gap: 10px;
}

.formAction button {
  flex: 1;
  background: #0077ff;
  color: white;
  border: 1px solid #0077ff;
  padding: 0.45rem 0.85rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.formAction button:hover,
.formAction button:active {
  background: #0069e2;
}

.switchBtn {
  background: white !important;
  color: #0077ff !important;
}
